---
apiVersion: v1
kind: ConfigMap
metadata:
  name: chaincode-config-#JOB_ID
  namespace: default
data:
  chaincode-name: "simple-asset"
  chaincode-version: "1.0"
  initial-state: "{\"Args\":[\"bitcoin\",\"1\"]}"
